@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --main-bg-color: rgb(69, 9, 234);
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--main-bg-color);
  color: white;
  text-align: center;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
}

nav ul li {
  list-style: none;
  margin: 0 10px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.container {
  text-align: center;
  padding: 20px;
}

h2 {
  color: black;
}

img {
  height: 244px;
  width: auto;
}

table {
  margin: 0 auto;
  border-color: var(--main-bg-color);
  width: 600px;
}

th {
  background-color: var(--main-bg-color);
  color: white;
  padding: 12px;
}

form table {
  border: 2px solid var(--main-bg-color);
  padding: 20px;
}

form td {
  padding: 10px;
}

button {
  background-color: var(--main-bg-color);
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  border: 2px solid black;
  font-size: 16px;
}

button:hover {
  background-color: white;
  color: var(--main-bg-color);
  cursor: pointer;
}

footer {
  background-color: var(--main-bg-color);
  color: white;
  text-align: center;
  padding: 10px;
}

footer a {
  color: white;
  padding-left: 5px;
}